<html>
<head>
<title>activity_sms_log.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_sms_log.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/gradient_background&quot;</span>
    <span class="s1">android:paddingTop</span><span class="s2">=&quot;0dp&quot;</span><span class="s0">&gt;</span>

    <span class="s4">&lt;!-- Titre principal --&gt;</span>
    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;📱 SMS Bloqués&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/orbitron_clean&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FF6F00&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;42dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@android:color/transparent&quot; </span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Ligne de séparation --&gt;</span>
    <span class="s0">&lt;View</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#33FF6F00&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- RecyclerView pour les conversations --&gt;</span>
    <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/recyclerSmsLog&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:clipToPadding</span><span class="s2">=&quot;false&quot;</span>
        <span class="s1">android:scrollbars</span><span class="s2">=&quot;vertical&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>