<html>
<head>
<title>item_contact.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_contact.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;?android:attr/selectableItemBackground&quot;</span>
    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/contact_photo&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_contact_placeholder&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/circle_background&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/contact_name&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/accent_orange&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Nom du contact&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/contact_number&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/on_surface_variant&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;01 23 45 67 89&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_call&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:alpha</span><span class="s2">=&quot;0.6&quot; </span><span class="s0">/&gt;</span>



<span class="s0">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>