<html>
<head>
<title>item_sms_journal.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_sms_journal.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.cardview.widget.CardView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/card_sms_item&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;12dp&quot;</span>
    <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;12dp&quot;</span>
    <span class="s1">app:cardElevation</span><span class="s2">=&quot;4dp&quot;</span>
    <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
    <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
    <span class="s1">android:foreground</span><span class="s2">=&quot;?android:attr/selectableItemBackground&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!-- En-tête : Numéro et Score --&gt;</span>
        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/text_sms_address&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;📥 +33 6 12 34 56 78&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/text_sms_score&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;85%&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#C62828&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s4">&lt;!-- Contenu du SMS --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/text_sms_body&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Contenu du SMS...&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#424242&quot;</span>
            <span class="s1">android:maxLines</span><span class="s2">=&quot;3&quot;</span>
            <span class="s1">android:ellipsize</span><span class="s2">=&quot;end&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Bas : Date et Niveau de risque --&gt;</span>
        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/text_sms_date&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;📅 01/01/2024 14:30&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#757575&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/text_sms_risk&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;🔴 Critique&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#C62828&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>

<span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span></pre>
</body>
</html>